<div id="content">
  <div class="paragraphe">
    <h2>Controller</h2>
    Payload example:
    <pre>{{request | json}}</pre>
  </div>
  <hr>
  <div class="paragraphe">
    <h2>pgAdmin</h2>
    <p>
      Login: nicolas.viaud84@gmail.com<br>
      Password: admin
    </p>
  </div>
  <hr>
  <div class="paragraphe">
    <h2>postgresql</h2>
    <p>
      Login: postgres<br>
      Password: admin
    </p>
  </div>
  <hr>
  <div class="paragraphe">
    <h2>RabbitMQ Management</h2>
    <p>
      Login: guest<br>
      Password: guest
    </p>
  </div>
</div>
